<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item *ngIf="isLoggedIn()">
        <a nz-dropdown [nzDropdownMenu]="menu">
          您好， {{curUser}}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a (click)="logout()">登出</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Library by Database-Course-Team-8</nz-footer>
</nz-layout>
