<div>
  <input class = "box1" *ngIf="curMode === 'login'" nz-input type="text" placeholder="请输入登录ID" [(ngModel)]="inputId" />
  <input class = "box2" *ngIf="curMode === 'login'" nz-input type="password" placeholder="请输入登录密码" (keyup.enter)="login()" [(ngModel)]="inputPassword" />
  <input class = "box1" *ngIf="curMode === 'register'" nz-input type="text" placeholder="请输入用户名" [(ngModel)]="registerName" />
  <input class = "box2" *ngIf="curMode === 'register'" nz-input type="password" placeholder="请输入密码" [(ngModel)]="registerPassword" />
  <input class = "box2" *ngIf="curMode === 'register'" nz-input type="text" placeholder="请输入邮箱" [(ngModel)]="registerEmail" />
  <input class = "box2" *ngIf="curMode === 'register'" nz-input type="text" placeholder="请输入电话号码" [(ngModel)]="registerTel" />
  <nz-select class = "box2" *ngIf="curMode === 'register'" [(ngModel)]="registerRole">
    <nz-option class = "box2" nzValue="1" nzLabel="读者"></nz-option>
    <nz-option class = "box2" nzValue="0" nzLabel="管理员"></nz-option>
  </nz-select>
  <button class = "box3" *ngIf="curMode === 'login'" nz-button nzType="primary" (click)="login()">登录</button>
  <button class = "box3" *ngIf="curMode === 'login'" nz-button nzType="primary" (click)="switch()">注册</button>
  <button class = "box3" *ngIf="curMode === 'register'" nz-button nzType="primary" (click)="switch()">返回登录</button>
  <button class = "box3" *ngIf="curMode === 'register'" nz-button nzType="primary" (click)="register()">注册</button>
</div>

