<form nz-form [formGroup]="changePasswordForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">原密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入原密码">
      <input type="password" nz-input formControlName="OldPassword" placeholder="请输入旧密码" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">新密码</nz-form-label>
    <nz-form-control nzErrorTip="请输入新密码">
      <input type="password" nz-input formControlName="NewPassword" placeholder="请输入新密码" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" (click)="changePassword()">确认</button>
    </nz-form-control>
  </nz-form-item>
</form>
