<nz-table class = "information" #basicTable [nzData]="records">
  <thead>
  <tr>
    <th class = "tab">编号</th>
    <th class = "tab">书名</th>
    <th class = "tab">借书时间</th>
    <th class = "tab">到期时间</th>
    <th class = "tab">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of records">
    <td>{{d.BookId}}</td>
    <td>{{d.BookName}}</td>
    <td>{{d.BorrowDate}}</td>
    <td>{{d.ExpireDate}}</td>
    <td>
      <a (click)="giveback(d.BookId)">还书</a>
    </td>
  </tr>
  </tbody>
</nz-table>
