<nz-table class = "information" #basicTable [nzData]="histories">
  <thead>
  <tr>
    <th class = "tab">书本编号</th>
    <th class = "tab">书名</th>
    <th class = "tab">借书时间</th>
    <th class = "tab">到期时间</th>
    <th class = "tab">ISBN</th>
    <th class = "tab">还书时间</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let d of histories">
    <td>{{d.BookId}}</td>
    <td>{{d.BookName}}</td>
    <td>{{d.BorrowDate}}</td>
    <td>{{d.ExpireDate}}</td>
    <td>{{d.Isbn}}</td>
    <td>{{d.ReturnDate}}</td>
  </tr>
  </tbody>
</nz-table>
